{% extends "base.html" %} 

{% block title %}Counseling{% endblock %}

{% block body %}
<div class="jumbotron">
    <h1 class="display-4">কাউন্সেলিং</h1>
    <h3>কোন কোন কারণে কাউন্সেলিং করাবেন:</h3>
        ১. রক্ত সঞ্চালন বৃদ্ধি করে। <br>
        ২. শরীর থেকে বিষাক্ত পদার্থ বের করতে সহায়তা করে। <br>
        ৩. মাথাব্যথা, পেশীর টান, এবং মাইগ্রেনের সমস্যা দূর করতে কার্যকর। <br>
        ৪. মানসিক চাপ কমায়। <br>
        ৫. আর্থ্রাইটিস, সাইনাস, ও স্কিন ডিজঅর্ডার নিরাময়ে সহায়ক। <br> <br>
        
        বর্তমানে আধুনিক চিকিৎসাবিজ্ঞান হিজামার বৈজ্ঞানিক ভিত্তি যাচাই করেছে এবং এটি শরীরের প্রদাহ কমানো এবং রোগপ্রতিরোধ ক্ষমতা বাড়াতে সহায়ক বলে প্রমাণিত হয়েছে।
    </p>
    <hr class="my-4">
    <div class="card-group">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title">৫০০/- <small>প্রতি সেশন (সরাসরি)</small></h3>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                <a class="btn btn-warning btn-lg"  href="/user-information/?service=counseling&appointment_type=live" role="button"> সার্ভিসটি নিতে চাই</a>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h3 class="card-title">৭০০/- <small>প্রতি সেশন (অনলাইন: সর্বোচ্চ ৩০ মিনিট)</small></h3>
                <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                <a class="btn btn-warning btn-lg"  href="/user-information/?service=counseling&appointment_type=online" role="button"> সার্ভিসটি নিতে চাই</a>
            </div>
        </div>
      </div>
  </div>
{% endblock %}