{% extends "base.html" %} 

{% block title %}Book appointment{% endblock %}

{% block body %}
<div class="container mt-5">
    <h5 class="text-primary">*** আপনার তথ্য প্রদান করুন। এপয়েন্টমেন্ট এর জন্য আবেদন করলে আপনার সাথে যোগাযোগ করা হবে</h5>
    <form>
        <div class="form-group">
          <label for="exampleInputEmail1">আপনার নাম:</label>
          <input type="text" class="form-control" id="exampleInputEmail1">
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">আপনার মোবাইল নম্বর:</label>
          <input type="text" class="form-control" id="exampleInputPassword1">
        </div>
        <button type="submit" class="btn btn-primary">এপয়েন্টমেন্টের জন্য আবেদন করুন</button>
      </form>
</div>
{% endblock %}