{% extends "base.html" %} 

{% block title %}Home{% endblock %}

{% block body %}
<div class="jumbotron">
    <h1 class="display-4">হিজামা: প্রাচীন ইসলামিক চিকিৎসা পদ্ধতির বৈজ্ঞানিক দৃষ্টিকোণ</h1>
    <h3>হিজামা (Cupping Therapy):</h3>
    <p class="lead">হিজামা হলো একটি প্রাচীন চিকিৎসা পদ্ধতি, যেখানে শরীর থেকে বিষাক্ত রক্ত বের করে আনা হয়। এই পদ্ধতি ইসলামের নবী মুহাম্মদ (সাঃ) কর্তৃক সুপারিশকৃত এবং এটি স্বাস্থ্য উপকারিতার জন্য বিশ্বজুড়ে জনপ্রিয়। হিজামায়, ত্বকের নির্দিষ্ট অংশে কাপ বা পাত্র ব্যবহার করে রক্ত সঞ্চালন বৃদ্ধি করা হয়। এরপর ওই স্থানে হালকা কাট দিয়ে বিষাক্ত রক্ত অপসারণ করা হয়।

        ইসলামী বর্ণনায় উল্লেখ রয়েছে, রাসূল (সাঃ) বলেছেন:
        "যখন তুমি চিকিৎসা গ্রহণ কর, তখন হিজামা গ্রহণ করো।" (সহীহ আল-বুখারী)
    </p>
    <p class="lead"><b>হিজামার উপকারিতা:</b> <br>
        ১. রক্ত সঞ্চালন বৃদ্ধি করে। <br>
        ২. শরীর থেকে বিষাক্ত পদার্থ বের করতে সহায়তা করে। <br>
        ৩. মাথাব্যথা, পেশীর টান, এবং মাইগ্রেনের সমস্যা দূর করতে কার্যকর। <br>
        ৪. মানসিক চাপ কমায়। <br>
        ৫. আর্থ্রাইটিস, সাইনাস, ও স্কিন ডিজঅর্ডার নিরাময়ে সহায়ক। <br> <br>
        
        বর্তমানে আধুনিক চিকিৎসাবিজ্ঞান হিজামার বৈজ্ঞানিক ভিত্তি যাচাই করেছে এবং এটি শরীরের প্রদাহ কমানো এবং রোগপ্রতিরোধ ক্ষমতা বাড়াতে সহায়ক বলে প্রমাণিত হয়েছে।
    </p>
    <hr class="my-4">
    <a class="btn btn-primary btn-lg" href="#" role="button">আমাদের সার্ভিস সমূহ</a>
  </div>
{% endblock %}