<nav class="text-center my-2 py-2 bg-dark">
    <div class="row justify-content-center">
        <!-- Hijama assessments -->
        <div class="col-md-2 d-flex">
            <a href="/admin/assessments/hijama" class="btn btn-primary btn-block my-2">Hijama assessments</a>
        </div>
        <!-- Ruqyah assessments -->
        <div class="col-md-2 d-flex">
            <a href="/admin/assessments/ruqyah" class="btn btn-primary btn-block my-2">Ruqyah assessments</a>
        </div>
        <!-- Counseling assessments -->
        <div class="col-md-2 d-flex">
            <a href="/admin/assessments/counseling" class="btn btn-primary btn-block my-2">Counseling assessments</a>
        </div>
    </div>
  </nav> 