{% extends "base.html" %}

{% block title %}Dashboard{% endblock %}

{% block body %}
<section class="py-5 text-center">
    <div class="container">
        <div class="row justify-content-center">
            <!-- Users Button -->
            <div class="col-md-2 d-flex">
                <a href="/admin/users" class="btn btn-outline-primary btn-block btn-lg mb-3 align-self-stretch">Clients</a>
            </div>
            <!-- Upcoming Appointments Button -->
            <div class="col-md-2 d-flex">
                <a href="/admin/appointments/?type=upcoming" class="btn btn-outline-success btn-block btn-lg mb-3 align-self-stretch">Upcoming Appointments</a>
            </div>
            <!-- Pending Appointments Button -->
            <div class="col-md-2 d-flex">
                <a href="/admin/appointments/?type=pending" class="btn btn-outline-warning btn-block btn-lg mb-3 align-self-stretch">Appointment Requests</a>
            </div>
            <!-- Appointment History Button -->
            <div class="col-md-2 d-flex">
                <a href="/admin/appointments/?type=history" class="btn btn-outline-secondary btn-block btn-lg mb-3 align-self-stretch">Appointment History</a>
            </div>
            <!-- All Assessments Button -->
            <div class="col-md-2 d-flex">
                <a href="/admin/assessments" class="btn btn-outline-info btn-block btn-lg mb-3 align-self-stretch">All Assessments</a>
            </div>
        </div>
    </div>
</section>


{% endblock %}