{% extends "base.html" %}

{% block title %}Hijama assessment data{% endblock %}

{% block css %}
<style>
    .table-container {
        max-height: 90vh; /* Adjust height to almost full page */
        overflow: hidden;
    }
    .table-wrapper {
        overflow-y: auto;
        max-height: 100%;
    }
</style>
{% endblock %}

{% block body %}

{% include "Admin/assessment_navbar.html" %}

<section class="my-4">
    <div class="container">
        <h2 class="text-center mb-4">Hijama assessment data</h2>
        <div class="table-container">
            <div class="table-wrapper">
                <table class="table table-bordered table-striped">
                    <thead class="thead-dark">
                        <tr>
                            <th>#</th>
                            <th>Appointment</th>
                            <th>Client Name</th>
                            <th>Age</th>
                            <th>Gender</th>
                            <th>Has diabetes</th>
                            <th>Blood pressure</th>
                            <th>Health issues</th>
                            <th>Comments</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for assessment in assessments %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td><a href="#">#</a></td>
                            <td>{{ assessment.user.name }}</td>
                            <td>{{ assessment.age }}</td>
                            <td>{{ assessment.gender }}</td>
                            <td>{{ assessment.has_diabetes }}</td>
                            <td>{{ assessment.blood_pressure }}</td>
                            <td>{{ assessment.health_issues }}</td>
                            <td>{{ assessment.comments }}</td>
                            <td>
                                
                            </td>
                        </tr>
                        {% empty %}
                        <tr>
                            <td colspan="7" class="text-center">0 assessments</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
{% endblock %}